.card {
    background: #fff;
    margin-bottom: 0.8rem;
    padding: 0.8rem;
    border-radius: 0.2rem;
    font-size: 1.3rem;
    position: relative;
    min-height: 3rem;
}

.card:hover {
    background: #f4f5f7;
}

.card:hover .cardActions {
    visibility: visible;
}

.description {
    margin-bottom: 0.8rem;
}

.date {
    margin-bottom: 0.8rem;
}

.assignee {
    margin-bottom: 0.8rem;
}