.streamCreator {
    height: 4rem;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.25);
    font-size: 1.6rem;
    cursor: pointer;
}
.streamCreator:hover {
    background: rgba(255, 255, 255, 0.35);;
}
.streamCreator__label {
    margin-left: 0.4rem;
}

.streamCreatorDialog {
    padding: 0.4rem 0.8rem;
    background: #ebecf0;
}


.streamCreatorDialog__content {
    border: none;
    box-shadow: inset 0 0 0 2px #0079bf;
    width: 100%;
    height: 4rem;
    padding: 0.8rem;
    border-radius: 0.2rem;
    font-size: 1.3rem;
}

.streamCreatorDialog__footer {
    display: flex;
    align-items: center;
    height: 4rem;
}

.streamCreatorDialog__submit {
    background: #5aac44;
    font-weight: 400;
    color: #ffffff;
    line-height: 2rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1.3rem;
}

.streamCreatorDialog__close {
    margin-left: 0.8rem;
    cursor: pointer;
}