.cardCreatorDialog {
    padding: 0.8rem 0;
}

.cardCreatorDialog__content {
    min-height: 6rem;
    width: 100%;
    padding: 0.8rem;
    cursor: text;
    box-shadow: 0 0.1rem 0 rgba(9,30,66,0.25);
    border:none;
    border-radius: 0.2rem;
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
}

.cardCreatorDialog__footer {
    display: flex;
    align-items: center;
}

.cardCreatorDialog__submit {
    background: #5aac44;
    font-weight: 400;
    color: #ffffff;
    line-height: 2rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1.3rem;
}

.cardCreatorDialog__close {
    margin-left: 0.8rem;
    cursor: pointer;
}